.mobile-menu-btn {
	width: 24px;
	height: 24px;
	position: relative;

	.hamburger-icon,
	.hamburger-icon::after {
		width: 21px;
		height: 2px;
		border-radius: 2px;
		background-color: black;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
		transition-duration: 300ms;
	}

	.hamburger-icon {
		top: calc(50% - 6px);
	}

	.hamburger-icon::after {
		content: "";
		top: calc(50% + 6px);
	}

	&.active {
		.hamburger-icon,
		.hamburger-icon::after {
			top: calc(50% - 1px);
			left: 1px;
			transform: translateY(-50%);
		}

		.hamburger-icon {
			transform: rotate(-45deg);
		}

		.hamburger-icon::after {
			transform: rotate(90deg);
		}
	}
}
